.code-block {
  min-width: 0;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 6px;
  scrollbar-width: thin;
  scrollbar-color: #8D9191 #191A1A;
  position: relative;

  &-wrapper {
    position: relative;
    max-height: inherit;

    &.code-block-expanded {
      max-height: none;
    }
  }

  & pre {
    margin: 0 !important;
    padding: 1em !important;
    background: #191A1A !important;
    border-radius: 6px !important;
    font-family: "Fira Code", monospace !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    max-height: inherit;
    overflow: visible !important;
  }

  & code {
    background: #191A1A !important;
    display: block !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  &__expand {
    cursor: pointer;
    background-color: #191A1A;
    border: 1px solid #2B2C2D;
    border-radius: 8px;
    width: 26px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 7px;
    z-index: 10;

    &:hover {
      background-color: #202222;
    }

    &-icon {
      width: 18px;
      height: 18px;
    }
  }
}