.editFileView {
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 0 9px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8D9191 #202222;

  &__header {
    min-height: 35px;
    display: flex;
    height: 35px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 435px) {
      flex-direction: column;
      align-items: flex-start;
      height: 43px;
    }

    &-edit {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      height: 21px;
      padding-left: 9px;

      div {
        width: 17px;
        height: 17px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        cursor: pointer;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 12px;
      gap: 7px;
      margin-right: 7px;
      position: absolute;
      right: 9px;

      @media (max-width: 435px) {
        margin-left: 11px;
        position: relative;
        right: 0;
        margin-bottom: 4px;
      }
    }

    &-save {
      color: #81A2BE;
      cursor: pointer;
      padding: 0;
      font-weight: 600;

      &:disabled {
        color: #8D9191;
      }
    }

    &-cancel {
      cursor: pointer;
      color: #FF6B68;
      padding: 0;
      font-weight: 500;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @media (max-width: 425px) {
      margin-top: 3px;
    }
  }

  &__textarea {
    width: 100%;
    height: 400px;
    resize: vertical;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #2B2C2D;
    background: #191A1A;
    overflow-y: auto;
    flex: 1 1 auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #E8E8E6;
    scrollbar-width: thin;
    scrollbar-color: #8D9191 #202222;
  }

  &__error {
    color: #FFB4AD;
    font-size: 13px;
    align-self: flex-start;
    height: 18px;
    margin-left: 12px;
    margin-top: 10px;
  }

  &__preview {
    background: #202222;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 11px;
      padding: 10px;
      color: #aaa;
      border-bottom: 1px solid #2B2C2D;
      text-align: center;
      flex-shrink: 0;
      background: #202222;
      z-index: 1;
    }

    &-content {
      flex: 1 1 auto;
      overflow-y: auto;
      padding: 12px 12px 0 12px;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  &__modal {
    padding: 24px;
    text-align: center;

    &-buttons {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin-top: 18px;
    }
  }
}
