.editFileView {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    padding: 0 9px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    &__header {
        height: 35px;
        display: flex;
        justify-content: space-between;

        &-edit {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;
            padding-left: 9px;

            div {
                width: 17px;
                height: 17px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                cursor: pointer;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 12px;
            gap: 7px;
        }

        &-save {
            color: #81A2BE;
            cursor: pointer;
            padding: 0;
            font-weight: 600;

            &:disabled {
                color: #8D9191;
            }
        }

        &-cancel {
            cursor: pointer;
            color: #FF6B68;
            padding: 0;
            font-weight: 500;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 auto;
    }

    &__textarea {
        width: 100%;
        height: 400px;
        resize: vertical;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #2B2C2D;
        background: #191A1A;
        overflow-y: auto;
        flex: 1 1 auto;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        line-height: 19px;
        color: #E8E8E6;
    }

    &__preview {
        background: #181818;
        border-radius: 6px;
        padding: 0;
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 11px;
            padding: 10px;
            color: #aaa;
            border-bottom: 1px solid #2B2C2D;
            text-align: center;
            flex-shrink: 0;
            background: #181818;
            z-index: 1;
        }

        &-content {
            flex: 1 1 auto;
            overflow-y: auto;
            padding: 12px;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }

    &__modal {
        padding: 24px;
        text-align: center;

        &-buttons {
            display: flex;
            gap: 12px;
            justify-content: center;
            margin-top: 18px;
        }
    }
}

@media (max-width: 425px) {
    .editFileView__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .editFileView__header-buttons {
        margin-left: 11px;
    }
}