.delete-modal {
  &__overlay {
    padding: 16px;
  }

  &__text {
    margin-bottom: 13px;
    align-self: flex-start;

    &-highlighted {
      font-weight: 500;
    }
  }

  &__buttons {
    &-delete {
      background-color: #3574F0;
      color: #E8E8E6;
    }

    &-cancel {
      border: 1px solid #8D9191;
      color: #E8E8E6;
    }
  }
}