.emptyFile {
    &__content {
        padding: 0 9px;
        height: calc(100% - 31px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bookWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-family: "Libertinus Math", system-ui;
        font-weight: 400;
        font-style: normal;
        margin-top: 20px;
        font-size: 33px;
        color: #E8E8E6;
        animation: fadeInPulse 2s ease-in-out infinite alternate;
        animation-delay: 2s;
        user-select: none;
    }
}

.book-svg {
    width: 200px;
    height: 200px;
    perspective: 600px;

    .book-left,
    .book-right {
        transform-origin: 11px 12px;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .book-left {
        animation-name: openLeft;
    }

    .book-right {
        animation-name: openRight;
    }
}

@keyframes openLeft {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-60deg);
    }
}

@keyframes openRight {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(60deg);
    }
}

.fileTree {
    width: 30px;
    height: 30px;
    background-color: #202222;
    border: 1px solid #2B2C2D;
    position: absolute;
    border-radius: 50% 50% 0 0;
    top: -30px;
    left: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #202222;
}

@keyframes fadeInPulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}