.enter-email-modal {
  &__overlay {
    padding: 11px;
  }

  &__body {
    display: flex;
    gap: 12px;
  }

  &__input {
    &-input {
      width: 177px;
    }
  }

  &__button {
    &-button {
      width: 43px;
      height: 27px;
    }
  }
}