.modal {
  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 9px;
    align-self: flex-start;
    text-align: left;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    &-confirm {
      background-color: #3574F0;
      color: #E8E8E6;
    }

    &-reject {
      border: 1px solid #8D9191;
      color: #E8E8E6;
    }
  }

  &__overlay {
    padding: 11px;
  }

  &__button {
    width: 57px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: #E8E8E6;
    font-weight: 600;
    font-size: 11px;
  }
}