.modal__overlay {
    padding: 11px;
}

.modal__form {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.modal__form-text {
    font-size: 13px;
    font-weight: 500;
    color: #E8E8E6;
    text-decoration: none;
    user-select: none;
    margin-bottom: 10px;
}

.modal__input {
    width: 222px;
    height: 27px;
    border: 1px solid #8D9191;
    border-radius: 7px;
    background-color: #191A1A;
    padding-left: 11px;
    color: #8D9191;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.modal__button{
    width: 57px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: #81A2FA;
    transition: background-color 0.5s ease;
    margin-top: 7px;
    color: #E8E8E6;
    font-weight: 600;
    font-size: 11px;
}

.modal__button:hover{
    background-color: #8eafff;
}

.modal__error {
    color: #7e1c1c;
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 4px;
    margin-left: 5px;
}

.hidden {
    visibility: hidden;
}
