@mixin adaptive-size($property, $maxValue, $minValue, $minScreen: 320px, $maxScreen: 550px) {
  #{$property}: clamp(#{$minValue},
  calc(#{$minValue} + (#{$maxValue} - #{$minValue}) * ((100vw - #{$minScreen}) / (#{$maxScreen} - #{$minScreen}))),
  #{$maxValue});
}