@import "../../styles/Mixins.module.scss";

.modal {
    &__overlay {
        @include adaptive-size('width', 315px, 252px, 320px, 750px)
    }

    &__form {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    &__head {
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        user-select: none;

        &-name {
            display: flex;
            flex-direction: column;
        }

        &-link {
            cursor: pointer;
            background-color: #191A1A;
            border: 1px solid #2B2C2D;
            border-radius: 8px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon {
            }
        }
    }

    &__name {
        align-self: flex-start;
        display: flex;
        flex-direction: column;

        &-symbol-error {
            font-size: 13px;
            color: #FFB4AD;
            margin-top: 5px;
        }

        &-invisible-error {
            font-size: 13px;
            color: transparent;
            user-select: none;
            margin-top: 5px;
        }

        &-change-input {
            background-color: transparent;
            border: none;
            color: #E8E8E6;
            font-size: 16px;
            font-weight: 700;
            outline: none;
            width: auto;
            height: 20px;
            padding: 0;
            box-sizing: border-box;
            margin-bottom: 4px;
        }
    }

    &__username {
        display: flex;
        align-items: center;

        &-name {
            font-size: 15px;
            font-weight: 700;
            color: #E8E8E6;
            text-decoration: none;
            user-select: none;
            margin-bottom: 4px;
            line-height: 20px;
            padding: 0;
            cursor: pointer;
        }

        &-edit-icon {
            margin-left: 5px;
            margin-bottom: 6px;
            cursor: pointer;
            align-self: flex-end;
        }
    }

    &__email {
        align-self: flex-start;
        font-size: 15px;
        font-weight: 200;
        color: #98A2B3;
        text-decoration: none;
        user-select: none;
        margin-bottom: 3px;

        &-error {
            align-self: flex-start;
        }
    }

    &__text {
        align-self: flex-start;
        font-size: 15px;
        font-weight: 200;
        color: #E8E8E6;
        text-decoration: none;
        user-select: none;
        margin-bottom: 8px;
    }

    &__permission {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;
        width: 100%;

        &-input {
            @include adaptive-size('width', 173px, 156px, 320px, 750px);
            height: 30px;
        }
    }

    &__input {
        border: 1px solid #2B2C2D;
        border-radius: 8px;
        background-color: #191A1A;
        padding-left: 8px;
        color: #8D9191;
        font-size: 13px;
        font-weight: 500;
    }

    &__button {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
        background-color: #81A2FA;
        transition: background-color 0.5s ease;
        color: #E8E8E6;
        font-weight: 600;
        font-size: 13px;

        &:hover {
            background-color: #8eafff;
        }
    }

    &__error {
        color: #7e1c1c;
        font-size: 12px;
        align-self: flex-start;
        margin-bottom: 4px;
        margin-left: 5px;
    }

    &__users {
        align-self: flex-start;
        max-height: 127px;
        overflow: auto;
        width: 100%;
        scrollbar-width: thin;
        scrollbar-color: #8D9191 #202222;
    }

    &__user {
        display: flex;
        align-self: flex-start;
        margin-top: 10px;
        justify-content: space-between;
        cursor: pointer;

        &-left {
            display: flex;
        }

        &-name {
            color: #E8E8E6;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        &-email {
            font-size: 12px;
            color: #98A2B3;
            font-weight: 300;
            line-height: normal;
        }

        &-delete {
            cursor: pointer;
        }
    }
}

.hidden {
    visibility: hidden;
}

.email-error {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 12px;
    align-self: flex-start;
}