.reset-password-modal {
  &__close {
    position: absolute;
    right: -5px;
    top: -2px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__header {
    position: relative;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button-button {
    width: 46px;
    margin-top: 7px;
  }
}