.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1270px) {
        justify-content: center;
    }
}

.main {
    min-height: 100vh;
    background-color: #191A1A;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}