.fileTree {
    width: 340px;
    min-height: 290px;
    border-radius: 14px;
    background-color: #202222;
    border: 1px solid #2B2C2D;
    margin-top: 20px;
    padding: 10px;
    flex-grow: 0;
    align-self: flex-start;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #8D9191 #191A1A;
    overflow: auto;
    position: relative;
}

.fileTree__content {
}

.fileTree__buttons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 320px;
}

.fileTree__buttons-create {
    width: 146px;
    height: 28px;
    background-color: #191A1A;
    border: 1px solid #8D9191;
    color: #8D9191;
    font-size: 13px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.fileTree__buttons-create:hover {
    background-color: #202222;
}

.fileTree__buttons-block {
    width: 30px;
    height: 30px;
    background-color: #202222;
    border: 1px solid #8D9191;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.fileTree__buttons-lock:hover {
    background-color: #191A1A;
}

.fileTree__buttons-lock img {
    width: 12px;
    height: 12px;
}

.fileTree__files {
    margin-top: 6px;
    position: absolute;
    top: 40px;
}

.add_folder_modal {
    width: 350px;
    height: 200px;
    background-color: #191A1A;
    border: 1px solid #8D9191;
    position: absolute;
}