@use '../../../../styles/Mixins.module.scss' as *;

.header {
  height: 70px;
  background-color: #202222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  &__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  &__left {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    cursor: pointer;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive-size('margin-right', 20px, 5px, 320px);

    &-input {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 4px;

      input {
        @include adaptive-size('width', 222px, 73px, 320px, 550px);
        height: 27px;
        border: 1px solid #8D9191;
        border-radius: 22px;
        background-color: #191A1A;
        padding-left: 24px;
        color: #8D9191;
        font-size: 13px;
        font-weight: 600;

        &::placeholder {
          color: #8D9191;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    &-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 7px;
      left: 7px;
    }

    &-swap {
      cursor: pointer;
    }
  }

  &__logout {
    width: 57px;
    height: 26px;
    background-color: #FFB4AD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-weight: 600;
    font-size: 11px;
    color: #CC032D;

    &:hover {
      background-color: #fbada6;
    }
  }

  &__login {
    background-color: #81A2FA;
    width: 57px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-weight: 600;
    font-size: 11px;
    color: #E8E8E6;

    &:hover {
      background-color: #8eafff;
    }
  }

  &__burger-container {
    position: relative;
  }

  &__burger-button {
    font-size: 24px;
    background: none;
    border: none;
    color: #E8E8E6;
    cursor: pointer;
  }

  &__burger-item {
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2B2C2D;
    }

    &:hover:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:hover:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  &__burger-menu {
    position: absolute;
    top: 40px;
    background-color: #202222;
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    button {
      background: none;
      border: none;
      color: #E8E8E6;
      padding: 6px;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      width: 100%;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: #333;
      }
    }
  }
}