.modal__overlay {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__form {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal__error {
    font-size: 13px;
    color: #FFB4AD;
    margin-left: 12px;
    align-self: flex-start;
}

.modal__hidden {
    opacity: 0;
}

.modal__text {
    color: #E8E8E6;
    font-size: 13px;
    margin-bottom: 6px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.modal__title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    color: #E8E8E6;
    user-select: none;
}

.modal__buttons {
    display: flex;
    gap: 10px;
}

.modal__buttons button {
    padding: 4px 6px;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-weight: 600;
    font-size: 13px;
}

