@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Убираем отступы, границы, шрифты, выравнивание и прочее */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Устанавливаем блочное отображение для HTML5 элементов */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Убираем списочные маркеры */
ol, ul {
    list-style: none;
}

/* Убираем стили ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Убираем рамки у изображений */
img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Убираем отступы у таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Устанавливаем базовые стили для body */
body {
    line-height: 1;
    background: #fff;
    color: #000;
    font-family: sans-serif;
}

/* Убираем подчеркивание и цвет у кнопок и инпутов */
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
}

/* Устанавливаем box-sizing для всех элементов */
*, *::before, *::after {
    box-sizing: border-box;
}